.btn-dark:not([disabled]):not(.disabled).active,
.btn-dark:not([disabled]):not(.disabled):active,
.btn-dark:not([disabled]):not(.disabled).hover,
.btn-dark:not([disabled]):not(.disabled):hover {
  color: #fff !important;
  background-color: #343a40 !important;
  border-color: #343a40 !important;
}
